@use "components";

@mixin section-display{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 5rem;
}
body {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px #ddd;
}

.logo a img{
    max-width: 7rem;
}

.sec-home{
    @include section-display();
    .home-cta{      
        width: 25rem;       
        .cta-text{
            color: components.$color-main;
        }
        .home-title{         
            font-size: 4rem;           
        }
        .home-description{
            padding-bottom: 1rem;
            padding-top: 1rem;
            color: #808b8d;
        }
    }
    .home-img{
        text-align: right;
        width: 25rem;
    }
}

.sec-features{
    @include section-display();
    flex-direction: column;
    text-align: center;
    .intro{
        
        h3{
            font-size: 2rem;
        }
        p{
            color: #808b8d;
        }
    }
    .features{
        display: flex;    
        .text{  
            max-width: 40%;
            .feature{
                display: flex;
                flex-direction: row;     
                align-items: baseline;         
                .description{
                    .title{

                    }
                    .text{
                        max-width:100%;
                        text-align: left;
                    }
                }
            }
        }
        .image{
            max-width: 60%;
        }
    }
}