.padre{
    width: 400px;
    height: 400px;
    background-color: blue;
}
.hijo{
    width: 50%;
    height: 50%;
    background-color: beige;
}

.padre:hover .hijo{
    animation: traslacion 4s ease-in-out forwards;
}
@keyframes traslacion{
    0%{
        background-color: beige;
        transform: translateX(0%);
    }
    25%{
        background-color: yellow;
        transform: translateX(100%);
    }
    50%{
        background-color: orange;
        transform: translateX(100%) translateY(100%);
    }
    75%{
        background-color: red;
        transform: translateX(0%) translateY(100%);
    }
    100%{
        background-color: beige;
        transform: translateX(0%);
    }
}